# ––––––––––––––– DOCKER COMPOSE ––––––––––––––––
COMPOSE_PROJECT_NAME=resume_analyzer

# ––––––––––––––––––– POSTGRES ––––––––––––––––––
POSTGRES_HOST=postgres
POSTGRES_DB=resume_analyzer
POSTGRES_USER=root_user
POSTGRES_PASSWORD=root_password
POSTGRES_PORT_EXTERNAL=5432
POSTGRES_PORT_INTERNAL=5432

# –––––––––––––––––––– REDIS ––––––––––––––––––––
REDIS_HOST=redis
REDIS_DB=0
REDIS_USERNAME=default
REDIS_PASSWORD=root_password
REDIS_PORT_EXTERNAL=6379
REDIS_PORT_INTERNAL=6379

# ––––––––––––––––––– TELEGRAM ––––––––––––––––––
TELEGRAM_BOT_TOKEN=...

# –––––––––––––– MIGRATION SERVICE ––––––––––––––
MIGRATION_SERVICE_HOST=migration_service

# ––––––––––––––––– BOT SERVICE –––––––––––––––––
BOT_SERVICE_HOST=bot_service

# ––––––––––––––––––– BRANDING ––––––––––––––––––
TELEGRAM_BOT_NAME='Resume Analyzer'