# ––––––––––––––– DOCKER COMPOSE ––––––––––––––––
COMPOSE_PROJECT_NAME=resume_analyzer

# ––––––––––––––––––– POSTGRES ––––––––––––––––––
POSTGRES_HOST=postgres
POSTGRES_DB=resume_analyzer
POSTGRES_USER=root_user
POSTGRES_PASSWORD=root_password
POSTGRES_PORT_EXTERNAL=5432
POSTGRES_PORT_INTERNAL=5432

# –––––––––––––––––––– REDIS ––––––––––––––––––––
REDIS_HOST=redis
REDIS_DB=0
REDIS_USERNAME=default
REDIS_PASSWORD=root_password
REDIS_PORT_EXTERNAL=6379
REDIS_PORT_INTERNAL=6379

# –––––––––––––––––––– OLLAMA –––––––––––––––––––
OLLAMA_BASE_URL=http://host.docker.internal:11434/v1
OLLAMA_API_KEY=...
OLLAMA_TIMEOUT=120
OLLAMA_LARGE_LANGUAGE_MODEL_NAME=gpt-oss:20b

# ––––––––––––––––––– TELEGRAM ––––––––––––––––––
TELEGRAM_BOT_TOKEN=...

# –––––––––––––– MIGRATION SERVICE ––––––––––––––
MIGRATION_SERVICE_HOST=migration_service

# ––––––––––––––––– BOT SERVICE –––––––––––––––––
BOT_SERVICE_HOST=bot_service

# –––––––––– VACANCY PROCESSING SERVICE –––––––––
VACANCY_PROCESSING_SERVICE_CONSUMER_GROUP=vacancy_processing_service_group
VACANCY_PROCESSING_SERVICE_CONSUMER_NAME=vacancy_processing_service_consumer
VACANCY_PROCESSING_SERVICE_MAX_PARALLEL_TASKS=5
VACANCY_PROCESSING_SERVICE_READ_BLOCK_MS=5000
VACANCY_PROCESSING_SERVICE_ERROR_SLEEP_SECONDS=5
VACANCY_PROCESSING_SERVICE_STALE_TASK_IDLE_MS=60000
VACANCY_PROCESSING_SERVICE_RECLAIM_BATCH_SIZE=5
VACANCY_PROCESSING_SERVICE_MAX_DELIVERY_ATTEMPTS=3

# ––––––––––––––––––– BRANDING ––––––––––––––––––
TELEGRAM_BOT_NAME='Resume Analyzer'